{% extends "layout.html" %}
{% block content %}
    <!--index.html-->
    <html lang="en">
    <body>
    <div class="jumbo">

        <!--    <h4>상품명 : {{resultData[0].ProductName}}</h4>
        <h4>이미지 : {{resultData[0].IMG_URL}}</h4>
	  <p>{{resultData}}</p>  -->

        <div class="mainuyaingi" style="background-color:#7F7F7F;">
            <br><img src="../static/img/total.png" width="450" style="margin-left:10%;"></img><br><br></div>

        <center>
            <table class="table table-hover table-striped text-center" style=" width: 50%;">

                <center><h4>전체 상품</h4></center>
                <thead>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[15].ProductID) }}><img
                                src={{ resultData[15].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[16].ProductID) }}><img
                                src={{ resultData[16].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[17].ProductID) }}><img
                                src={{ resultData[17].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[18].ProductID) }}><img
                                src={{ resultData[18].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[19].ProductID) }}><img
                                src={{ resultData[19].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[15].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[16].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[17].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[18].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[19].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[20].ProductID) }}><img
                                src={{ resultData[20].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[21].ProductID) }}><img
                                src={{ resultData[21].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[22].ProductID) }}><img
                                src={{ resultData[22].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[23].ProductID) }}><img
                                src={{ resultData[23].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[24].ProductID) }}><img
                                src={{ resultData[24].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[20].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[21].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[22].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[23].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[24].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[25].ProductID) }}><img
                                src={{ resultData[25].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[26].ProductID) }}><img
                                src={{ resultData[26].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[27].ProductID) }}><img
                                src={{ resultData[27].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[28].ProductID) }}><img
                                src={{ resultData[28].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('review_err') }}><img src={{ resultData[29].IMG_URL }} width="150"></a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[25].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[26].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[27].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[28].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[29].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[30].ProductID) }}><img
                                src={{ resultData[30].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[31].ProductID) }}><img
                                src={{ resultData[31].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[32].ProductID) }}><img
                                src={{ resultData[32].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[33].ProductID) }}><img
                                src={{ resultData[33].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[34].ProductID) }}><img
                                src={{ resultData[34].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[30].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[31].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[32].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[33].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[34].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[35].ProductID) }}><img
                                src={{ resultData[35].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[36].ProductID) }}><img
                                src={{ resultData[36].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[37].ProductID) }}><img
                                src={{ resultData[37].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[38].ProductID) }}><img
                                src={{ resultData[38].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[39].ProductID) }}><img
                                src={{ resultData[39].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[35].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[36].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[37].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[38].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[39].ProductName }}</center>
                    </td>

                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[40].ProductID) }}><img
                                src={{ resultData[40].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[41].ProductID) }}><img
                                src={{ resultData[41].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[42].ProductID) }}><img
                                src={{ resultData[42].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[43].ProductID) }}><img
                                src={{ resultData[43].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[44].ProductID) }}><img
                                src={{ resultData[44].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[40].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[41].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[42].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[43].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[44].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[45].ProductID) }}><img
                                src={{ resultData[45].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[46].ProductID) }}><img
                                src={{ resultData[46].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[47].ProductID) }}><img
                                src={{ resultData[47].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[48].ProductID) }}><img
                                src={{ resultData[48].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[49].ProductID) }}><img
                                src={{ resultData[49].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[45].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[46].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[47].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[48].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[49].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[50].ProductID) }}><img
                                src={{ resultData[50].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[51].ProductID) }}><img
                                src={{ resultData[51].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[52].ProductID) }}><img
                                src={{ resultData[52].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[53].ProductID) }}><img
                                src={{ resultData[53].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[54].ProductID) }}><img
                                src={{ resultData[54].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[50].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[51].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[52].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[53].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[54].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[0].ProductID) }}><img
                                src={{ resultData[0].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[1].ProductID) }}><img
                                src={{ resultData[1].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[2].ProductID) }}><img
                                src={{ resultData[2].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('review_err') }}><img
                                src={{ resultData[3].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[4].ProductID) }}><img
                                src={{ resultData[4].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[0].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[1].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[2].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[3].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[4].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[5].ProductID) }}><img
                                src={{ resultData[5].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('review_err') }}><img
                                src={{ resultData[6].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[7].ProductID) }}><img
                                src={{ resultData[7].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[8].ProductID) }}><img
                                src={{ resultData[8].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('review_err') }}><img
                                src={{ resultData[9].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[5].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[6].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[7].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[8].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[9].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[55].ProductID) }}><img
                                src={{ resultData[55].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[56].ProductID) }}><img
                                src={{ resultData[56].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[57].ProductID) }}><img
                                src={{ resultData[57].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[58].ProductID) }}><img
                                src={{ resultData[58].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[59].ProductID) }}><img
                                src={{ resultData[59].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[55].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[56].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[57].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[58].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[59].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[60].ProductID) }}><img
                                src={{ resultData[60].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[61].ProductID) }}><img
                                src={{ resultData[61].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[62].ProductID) }}><img
                                src={{ resultData[62].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[63].ProductID) }}><img
                                src={{ resultData[63].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[64].ProductID) }}><img
                                src={{ resultData[64].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[60].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[61].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[62].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[63].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[64].ProductName }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[65].ProductID) }}><img
                                src={{ resultData[65].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[66].ProductID) }}><img
                                src={{ resultData[66].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[71].ProductID) }}><img
                                src={{ resultData[70].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[72].ProductID) }}><img
                                src={{ resultData[71].IMG_URL }} width="150"></a></center>
                    </td>
                    <td>
                        <center><a href= {{ url_for('select_review', productID=resultData[74].ProductID) }}><img
                                src={{ resultData[74].IMG_URL }} width="150"></a></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ resultData[65].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[66].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[71].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[72].ProductName }}</center>
                    </td>
                    <td>
                        <center>{{ resultData[74].ProductName }}</center>
                    </td>
                </tr>
                </tbody>

            </table>
        </center>
    </div>
    </body>
    </html>

{% endblock %}

