
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{{ url_for('home') }}"><img src="../static/img/uyangi.png" class="logo" width="150"></a>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('select') }}">전체상품</a></li>
                        <li><a href="{{ url_for('product_register') }}">상품등록</a></li>
                        <li><a href="{{ url_for('select_orders') }}">구매확인</a></li>
                        <li><a href="{{ url_for('home') }}">메인화면</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
