<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Product Register</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <style>
            div {
            font-size: 18px;
            padding: 0.7em;}

            label {
            font-size: 18px;
            line-height: 2rem;
            padding: 0.2em 0.4em;}

            [type="radio"] {
            vertical-align: middle;
            appearance: none;
            border: max(2px, 0.1em) solid gray;
            border-radius: 50%;
            width: 1.25em;
            height: 1.25em;
            transition: border 0.5s ease-in-out;}
            [type="radio"]:checked {
              border: 0.4em solid tomato;
            }

            [type="radio"]:focus-visible {
              outline-offset: max(2px, 0.1em);
              outline: max(2px, 0.1em) dotted tomato;
            }

            [type="radio"]:hover {
              box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
              cursor: pointer;
            }

            [type="radio"]:disabled {
              background-color: lightgray;
              box-shadow: none;
              opacity: 0.7;
              cursor: not-allowed;
            }

            [type="radio"]:disabled + span {
              opacity: 0.7;
              cursor: not-allowed;
            }
        </style>

        <script>
<!--            function Change(){-->
<!--                var key = select_Description1.value;-->
<!--                const box = document.getElementById("d1")-->
<!--                box.innerHTML = "<div name=select_Description value="key">";-->
<!--                box.appendChild(newP);-->
<!--            }-->


            const add_textbox = () => {
                const Cnum = document.getElementById('cnc').value;
                for (i=0; i<Cnum; i++){
                    const scn = "select_color_num" + i
                    console.log(scn)
                    const box = document.getElementById("box");
                    const newP = document.createElement('p');
                    newP.innerHTML = "<input type='text' name=" + scn + "> <input type='button' value='삭제' onclick='remove(this)'>";
                    box.appendChild(newP);
                }
            }
            const remove = (obj) => {
                document.getElementById('box').removeChild(obj.parentNode);
            }

        </script>
    </head>
    <body class="sb-nav-toggled">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">우양이 : 관리자 웹페이지</a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content" style=" height: 1220px;">
                <main>
                    <div class="container-fluid px-4 bg-white" >
                        <h3 class="mt-2 text-lightgray">Product Register : 상품등록</h3>
                        <section class="resume-section" id="prediction">
                            <div class="resume-section-content">
                                <h5 class="mb-1 text-lightgray">새 상품 등록</h5>

                                <form action="/product_register_process" method="post" enctype="multipart/form-data" >

                                    <div class="row">

                                        <div class="col-xl-4">
                                            <div class="card mb-3" style="height: 800px;">

                                                <div class="card-header">
                                                    ✍ 작성
                                                </div>
                                                <div class="card-body">

                                                    <div class="form-group1">
                                                         ◾ 상품 번호    :
                                                        <input type="text" id="select_ProductID" name="select_ProductID">
                                                    </div>

                                                    <div class="form-group">
                                                         ◾ 상품 이름    :
                                                        <input type="text" id="select_ProductName" name="select_ProductName">
                                                    </div>


                                                    <div class="form-group4">
                                                         ◾ 상품 가격    :
                                                        <input type="number" id="number" name="select_Price">
                                                    </div>


                                                    <div class="form-group">
                                                         ◾ 재고 수량    :
                                                        <input type="number" id="select_stock_number" name="select_stock_number">
                                                    </div>


                                                    <div class="form-group">
                                                         ◾ 색상 개수    :
                                                        <input id='cnc' name="cnc" type="number">
                                                        <input type=button value='추가' onclick="add_textbox()">
                                                        <p/>
                                                        <div id="box">
                                                            ✔ 색상
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-xl-4">
                                            <div class="card mb-3" style="height: 800px;">
                                                <div class="card-header">
                                                    🚩 선택
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group3">
                                                         ◾ 상품 용도
                                                        <div style="padding:4px;"></div>
                                                        <div class="bg-success text-white mb-20" style="text-align : center;">
                                                            <input type="radio" name="select_Description" id="option1" value="캐주얼"> 캐주얼     </input>
                                                            <input type="radio" name="select_Description" id="option2" value="스포츠"> 스포츠     </input>
                                                            <input type="radio" name="select_Description" id="option3" value="정장"> 정장       </input>
                                                            <input type="radio" name="select_Description" id="option4" value="수면양말"> 수면양말       </input>
                                                        </div>
                                                    </div>
                                                    </p>


                                                    <div class="form-group6">
                                                         ◾ 상품 성별
                                                        <div style="padding:4px;"></div>
                                                        <div class="bg-success text-white mb-20" style="text-align : center;">
                                                            <input type="radio" name="select_catid" id="option5" value=1> 남성    </input>
                                                            <input type="radio" name="select_catid" id="option6" value=2> 여성    </input>
                                                            <input type="radio" name="select_catid" id="option7" value=3> 아동    </input>
                                                            <input type="radio" name="select_catid" id="option8" value=4> 남여공용  </input>
                                                        </div>
                                                    </div>
                                                    </p>

                                                    <div class="form-group">
                                                         ◾ 상품 길이
                                                        <div style="padding:4px;"></div>
                                                        <div class="bg-success text-white mb-20" style="text-align : center;">
                                                            <input type="radio" name="select_length" id="option9" value="덧신"> 덧신 </input>
                                                            <input type="radio" name="select_length" id="option10" value="발목"> 발목 </input>
                                                            <input type="radio" name="select_length" id="option11" value="중목"> 중목 </input>
                                                            <input type="radio" name="select_length" id="option12" value="니삭스"> 니삭스 </input>
                                                            <input type="radio" name="select_length" id="option13" value="장목"> 장목 </input>
                                                        </div>
                <!--                                            <select class="form-control" id='select_length' name="select_length">-->
                <!--                                              <option>덧신</option>-->
                <!--                                              <option>발목</option>-->
                <!--                                              <option>중목</option>-->
                <!--                                              <option>니삭스</option>-->
                <!--                                              <option>장목</option>-->
                <!--                                            </select>-->
                                                    </div>
                                                    </p>

                                                    <div class="form-group">
                                                         ◾ 상품 스타일
                                                        <div style="padding:4px;"></div>
                                                        <div class="bg-success text-white mb-20" style="text-align : center;">
                                                            <input type="radio" name="select_style" id="option14" value="무지"> 무지 </input>
                                                            <input type="radio" name="select_style" id="option15" value="무지/패턴"> 무지/패턴 </input>
                                                            <input type="radio" name="select_style" id="option16" value="골지"> 골지 </input>
                    <!--                                            <select class="form-control" id='select_style' name="select_style">-->
                    <!--                                              <option>무지</option>-->
                    <!--                                              <option>무지/패턴</option>-->
                    <!--                                              <option>골지</option>-->
                    <!--                                            </select>-->
                                                        </div>
                                                    </div>
                                                    </p>

                                                    <div class="form-group">
                                                         ◾ 상품 두께
                                                        <div style="padding:4px;"></div>
                                                        <div class="bg-success text-white mb-20" style="text-align : center;">
                                                            <input type="radio" name="select_thickness" id="option17" value="일반"> 일반 </input>
                                                            <input type="radio" name="select_thickness" id="option18" value="두툼"> 두툼 </input>
                                                        </div>
                                                    </div>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>





                    <!-- purchaseAmount, item_sell_status, reg_time, update_time-->

                                        <div class="col-xl-4">
                                            <div class="card mb-3" style="height: 800px;">

                                                <div class="card-header">
                                                    📤 이미지 업로드
                                                </div>

                                                <div class="card-body">
                                                     <p/><p/>
                                                    <div class="form-group5">
                                                        <div class="card bg-primary text-white mb-8 text-center">
                                                             ◾ 상품 썸네일 이미지
                                                        </div>
                                                        <p/>
                                                        <input type="file" class="form-control" id="file" name="file" placeholder="표지 사진 선택...">
                                                    </div>
                                                    <div style="height:50px;"></div>

                                                    <div class="form-group">
                                                        <div class="card bg-primary text-white mb-8 text-center">
                                                             ◾ 상품 상세 이미지
                                                        </div>
                                                        <p/>
                                                        <input type="file" class="form-control" id="select" name="select" placeholder="표지 사진 선택...">
                                                    </div>
                                                    <p/>
                                                    <div style="height:300px;"></div>


                                                    <div  align="right">
                                                        <input style="width:200px; border-color: black;" type=submit value='등록' name='submit_btn'>
                                                    </div>
                                                    <p/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </section>

                    </div>
                </main>



                <footer class="py-4 bg-light mt-auto" style="width:2000px;">

                        <div class="container-fluid px-4" >
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; 차관도비 2022</div>
                            </div>
                        </div>

                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!--        <script src="static/js/chart-area.js"></script>-->
<!--        <script src="static/js/chart-bar.js"></script>-->
<!--        <script src="static/js/chart-total.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
    </body>
</html>
