<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Review</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!--        <script src="static/js/chart-area.js"></script>-->
<!--        <script src="static/js/chart-bar.js"></script>-->
<!--        <script src="static/js/chart-total.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
    </head>
    <body class="sb-nav-toggled">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="layout.html">우양이 : 관리자 웹페이지</a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 bg-white">
                        <h1 class="mt-4 text-lightgray">Review</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active text-lightgray">data analysis</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-4 text-center">
                                <div class="card bg-primary text-white mb-3">
                                    <div class="card-body">{{resultData[0].summary1}}</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 text-center">
                                <div class="card bg-warning text-black mb-3">
                                    <div class="card-body">{{resultData[0].summary2}}</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 text-center">
                                <div class="card bg-success text-white mb-3">
                                    <div class="card-body">{{resultData[0].summary3}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        전체 리뷰 긍정 부정
                                    </div>
                                        <div class="card-body"><canvas id="myBarChartTotal" width="100%" height="40"></canvas></div>
                                        <script>

                                        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                                        Chart.defaults.global.defaultFontColor = '#292b2c';

                                            var ctx = document.getElementById('myBarChartTotal');

                                            var chart = new Chart(ctx, {
                                                // The type of chart we want to create
                                                type: 'bar',

                                                // The data for our dataset
                                                data: {
                                                    labels: ['긍정', '부정'],
                                                    datasets: [{
                                                        label: '해당 키워드 긍정 부정 비율',
                                                        backgroundColor: [
                                                            'rgba(0,0,128, 1)',
                                                            'rgba(128,0,0, 1)'],
                                                        borderColor: "rgba(2,117,216,1)",
                                                        data: {{ resultPN | tojson }}
                                                    }]
                                                },

                                                // Configuration options go here
                                                options: {
                                                    scales: {
                                                      xAxes: [{
                                                        time: {
                                                          unit: '카테고리'
                                                        },
                                                        gridLines: {
                                                          display: true
                                                        },
                                                        ticks: {
                                                          maxTicksLimit: 4
                                                        }
                                                      }],
                                                      yAxes: [{
                                                        ticks: {
                                                          min: 0,
                                                          max: 100,
                                                          maxTicksLimit: 5
                                                        },
                                                        gridLines: {
                                                          display: true
                                                        }
                                                      }],
                                                    },
                                                    legend: {
                                                      display: false
                                                    }
                                                }
                                            });
                                        </script>

                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        카테고리별 언급 현황
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>

                                    <script>
                                        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                                        Chart.defaults.global.defaultFontColor = '#292b2c';

                                        // Area Chart Example
                                        var ctx = document.getElementById("myAreaChart");

                                        var myLineChart = new Chart(ctx, {
                                          type: 'line',
                                          data: {
                                            labels: ["배송", "가격", "품질", "색상"],
                                            datasets: [{
                                              label: "총 언급 수",
                                              lineTension: 0.3,
                                              backgroundColor: "rgba(2,117,216,0.2)",
                                              borderColor: "rgba(2,117,216,1)",
                                              pointRadius: 5,
                                              pointBackgroundColor: "rgba(2,117,216,1)",
                                              pointBorderColor: "rgba(255,255,255,0.8)",
                                              pointHoverRadius: 5,
                                              pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                              pointHitRadius: 50,
                                              pointBorderWidth: 2,
                                              data: {{ resultTOTAL | tojson }},
                                            }],
                                          },
                                          options: {
                                            scales: {
                                              xAxes: [{
                                                time: {
                                                  unit: '카테고리별 언급 빈도'
                                                },
                                                gridLines: {
                                                  display: false
                                                },
                                                ticks: {
                                                  maxTicksLimit: 7
                                                }
                                              }],
                                              yAxes: [{
                                                ticks: {
                                                  min: 0,
                                                  max: 400,
                                                  maxTicksLimit: 5
                                                },
                                                gridLines: {
                                                  color: "rgba(0, 0, 0, .125)",
                                                }
                                              }],
                                            },
                                            legend: {
                                              display: false
                                            }
                                          }
                                        });
                                    </script>

                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        카테고리별 긍정 리뷰 빈도
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>

                                    <script>
                                        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                                        Chart.defaults.global.defaultFontColor = '#292b2c';

                                        // Bar Chart Example
                                        var ctx = document.getElementById("myBarChart");

                                        var myLineChart = new Chart(ctx, {
                                          type: 'bar',
                                          data: {
                                            labels: ["배송", "가격", "품질", "색상"],
                                            datasets: [{
                                              label: "해당 키워드 긍정 빈도",
                                              backgroundColor: "rgba(2,117,216,1)",
                                              borderColor: "rgba(2,117,216,1)",
                                              data: {{ resultPOS | tojson }},
                                            }],
                                          },
                                          options: {
                                            scales: {
                                              xAxes: [{
                                                time: {
                                                  unit: '카테고리'
                                                },
                                                gridLines: {
                                                  display: true
                                                },
                                                ticks: {
                                                  maxTicksLimit: 4
                                                }
                                              }],
                                              yAxes: [{
                                                ticks: {
                                                  min: 0,
                                                  max: 100,
                                                  maxTicksLimit: 5
                                                },
                                                gridLines: {
                                                  display: true
                                                }
                                              }],
                                            },
                                            legend: {
                                              display: false
                                            }
                                          }
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                전체 리뷰데이터 조회
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>UserID</th>
                                            <th>Option</th>
                                            <th>Review</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>UserID</th>
                                            <th>Option</th>
                                            <th>Review</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>{{resultData[11][0].user_id}}</td>
                                            <td>{{resultData[11][0].product_option}}</td>
                                            <td>{{resultData[11][0].content}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{resultData[11][1].user_id}}</td>
                                            <td>{{resultData[11][1].product_option}}</td>
                                            <td>{{resultData[11][1].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][2].user_id}}</td>
                                            <td>{{resultData[11][2].product_option}}</td>
                                            <td>{{resultData[11][2].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][3].user_id}}</td>
                                            <td>{{resultData[11][3].product_option}}</td>
                                            <td>{{resultData[11][3].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][4].user_id}}</td>
                                            <td>{{resultData[11][4].product_option}}</td>
                                            <td>{{resultData[11][4].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][5].user_id}}</td>
                                            <td>{{resultData[11][5].product_option}}</td>
                                            <td>{{resultData[11][5].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][6].user_id}}</td>
                                            <td>{{resultData[11][6].product_option}}</td>
                                            <td>{{resultData[11][6].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][7].user_id}}</td>
                                            <td>{{resultData[11][7].product_option}}</td>
                                            <td>{{resultData[11][7].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][8].user_id}}</td>
                                            <td>{{resultData[11][8].product_option}}</td>
                                            <td>{{resultData[11][8].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][11].user_id}}</td>
                                            <td>{{resultData[11][11].product_option}}</td>
                                            <td>{{resultData[11][11].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][10].user_id}}</td>
                                            <td>{{resultData[11][10].product_option}}</td>
                                            <td>{{resultData[11][10].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][11].user_id}}</td>
                                            <td>{{resultData[11][11].product_option}}</td>
                                            <td>{{resultData[11][11].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][12].user_id}}</td>
                                            <td>{{resultData[11][12].product_option}}</td>
                                            <td>{{resultData[11][12].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][13].user_id}}</td>
                                            <td>{{resultData[11][13].product_option}}</td>
                                            <td>{{resultData[11][13].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][14].user_id}}</td>
                                            <td>{{resultData[11][14].product_option}}</td>
                                            <td>{{resultData[11][14].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][15].user_id}}</td>
                                            <td>{{resultData[11][15].product_option}}</td>
                                            <td>{{resultData[11][15].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][16].user_id}}</td>
                                            <td>{{resultData[11][16].product_option}}</td>
                                            <td>{{resultData[11][16].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][17].user_id}}</td>
                                            <td>{{resultData[11][17].product_option}}</td>
                                            <td>{{resultData[11][17].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][18].user_id}}</td>
                                            <td>{{resultData[11][18].product_option}}</td>
                                            <td>{{resultData[11][18].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][19].user_id}}</td>
                                            <td>{{resultData[11][19].product_option}}</td>
                                            <td>{{resultData[11][19].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][20].user_id}}</td>
                                            <td>{{resultData[11][20].product_option}}</td>
                                            <td>{{resultData[11][20].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][21].user_id}}</td>
                                            <td>{{resultData[11][21].product_option}}</td>
                                            <td>{{resultData[11][21].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][22].user_id}}</td>
                                            <td>{{resultData[11][22].product_option}}</td>
                                            <td>{{resultData[11][22].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][23].user_id}}</td>
                                            <td>{{resultData[11][23].product_option}}</td>
                                            <td>{{resultData[11][23].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][24].user_id}}</td>
                                            <td>{{resultData[11][24].product_option}}</td>
                                            <td>{{resultData[11][24].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][25].user_id}}</td>
                                            <td>{{resultData[11][25].product_option}}</td>
                                            <td>{{resultData[11][25].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][26].user_id}}</td>
                                            <td>{{resultData[11][26].product_option}}</td>
                                            <td>{{resultData[11][26].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][27].user_id}}</td>
                                            <td>{{resultData[11][27].product_option}}</td>
                                            <td>{{resultData[11][27].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][28].user_id}}</td>
                                            <td>{{resultData[11][28].product_option}}</td>
                                            <td>{{resultData[11][28].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][29].user_id}}</td>
                                            <td>{{resultData[11][29].product_option}}</td>
                                            <td>{{resultData[11][29].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][30].user_id}}</td>
                                            <td>{{resultData[11][30].product_option}}</td>
                                            <td>{{resultData[11][30].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][31].user_id}}</td>
                                            <td>{{resultData[11][31].product_option}}</td>
                                            <td>{{resultData[11][31].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][32].user_id}}</td>
                                            <td>{{resultData[11][32].product_option}}</td>
                                            <td>{{resultData[11][32].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][33].user_id}}</td>
                                            <td>{{resultData[11][33].product_option}}</td>
                                            <td>{{resultData[11][33].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][34].user_id}}</td>
                                            <td>{{resultData[11][34].product_option}}</td>
                                            <td>{{resultData[11][34].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][35].user_id}}</td>
                                            <td>{{resultData[11][35].product_option}}</td>
                                            <td>{{resultData[11][35].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][36].user_id}}</td>
                                            <td>{{resultData[11][36].product_option}}</td>
                                            <td>{{resultData[11][36].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][37].user_id}}</td>
                                            <td>{{resultData[11][37].product_option}}</td>
                                            <td>{{resultData[11][37].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][38].user_id}}</td>
                                            <td>{{resultData[11][38].product_option}}</td>
                                            <td>{{resultData[11][38].content}}</td>
                                        </tr><tr>
                                            <td>{{resultData[11][39].user_id}}</td>
                                            <td>{{resultData[11][39].product_option}}</td>
                                            <td>{{resultData[11][39].content}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 차관도비 2022</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!--        <script src="static/js/chart-area.js"></script>-->
<!--        <script src="static/js/chart-bar.js"></script>-->
<!--        <script src="static/js/chart-total.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
    </body>
</html>
